.idea
pycharm
*.zip
*.png
*.yuv
*.mkv
*.pcap
*.pcapng
*.mp4
*.y4m
*.aux
*.bbl
*.blg
*.fls
*.synctex.gz
*.bak
*.fdb_latexmk
*.bbx
*.bst
*.cbx
*.ins
*.log
*.out
__pycache__
starlink
oneweb
inclined_Telesat